<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	<configSections>
		<section name="IdentityServer" type="System.Configuration.NameValueSectionHandler" />
		<section name="WcfClientCredentials" type="System.Configuration.NameValueSectionHandler" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="RESTfulApiPath" type="System.Configuration.NameValueSectionHandler" />
		<section name="ServiceTypeConfiguration" type="System.Configuration.NameValueSectionHandler" />
		<section name="RESTfulApiDomainNameSection" type="System.Configuration.NameValueSectionHandler" />
		<section name="StoreSettings" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	<appSettings>
		<add key="UseAccessProvider" value="true" />
		<add key="EnvironmentName" value="#{EnvironmentName}#" />
		<add key="ApplicationInsights_DisableTelemetry" value="#{ApplicationInsightsDisableTelemetry_Blank}#" />
		<add key="ApplicationInsights_InstrumentationKey" value="#{ApplicationInsightsInstrumentationKey_Blank}#" />
	</appSettings>
	<IdentityServer>
		<add key="Authority" value="#{IdentityServer}#" />
		<add key="RequiredScopes" value="RestfulAPI.BusinessUnitApi" />
	</IdentityServer>
	<WcfClientCredentials>
		<add key="Username" value="#{TeleenaServiceUserName}#" />
		<add key="Password" value="#{TeleenaServicePassword}#" />
		<add key="MaxUserId" value="3A901B15-207B-4778-9C20-EC7EA90E2464" />
	</WcfClientCredentials>
	<RESTfulApiPath>
		<add key="ProductAPI" value="#{RESTfulApiPath:ProductAPI}#" />
		<add key="PersonAPI" value="#{RESTfulApiPath:PersonAPI}#" />
		<add key="BusinessUnitAPI" value="#{RESTfulApiPath:BusinessUnitAPI}#" />
		<add key="UserAPI" value="#{RESTfulApiPath:UserAPI}#" />
		<add key="PropositionAPI" value="#{RESTfulApiPath:PropositionAPI}#" />
	</RESTfulApiPath>
	<RESTfulApiDomainNameSection>
		<add key="RestApiDomainName" value="#{AzureDomainName}#" />
	</RESTfulApiDomainNameSection>
	<StoreSettings>
		<add key="FileCacheName" value="CacheHistory.txt" />
		<add key="FolderCachePath" value="D:\CacheStoreHistory" />
	</StoreSettings>
	<ServiceTypeConfiguration>
		<!-- following entries are used to set voice sms data and general cache unit type ids that are recognized, they will be used to determin service type for balances-->
		<add key="VOICE" value="SECOND; MINUTE; HOUR; DAY; WEEK; MONTH; YEAR" />
		<add key="SMS" value="UNIT; SMS; MINUTESMS" />
		<add key="DATA" value="KB; MB; GB; TB" />
		<add key="GeneralCache" value="EUROS; POUNDS; DOLLARS; ZLOTYCH; NONE" />
		<!-- following entries are used to set general cache and voice balance type unit names that are used as fallback way of determining service type to return for balances -->
		<add key="GeneralCacheUnitNames" value="$=DOLLARS; €=EUROS; PLN=ZLOTYCH; £=POUND" />
		<add key="VoiceUnitNames" value="min=MINUTE; h=Hours; d=DAYS; m=MONTH; y=YEAR; s=SECOND; sec=SECOND" />
	</ServiceTypeConfiguration>
	<system.web>
		<compilation targetFramework="4.5.2" />
		<httpRuntime targetFramework="4.5.2" />
		<customErrors mode="RemoteOnly" />
		<httpModules>
			<add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
		</httpModules>
	</system.web>

	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="NetTcpBinding_TeleenaService" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="214748364" maxBufferPoolSize="214748364" maxReceivedMessageSize="214748364">
					<readerQuotas maxStringContentLength="2147483647" />
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint address="net.tcp://localhost/TeleenaServiceWcf/v_AccountService.svc/tcp" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TeleenaService" contract="AccountService.AccountService" name="NetTcpBinding_AccountService">
			</endpoint>
			<endpoint address="net.tcp://localhost/TeleenaServiceWcf/v_CommercialOfferService.svc/tcp" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TeleenaService" contract="CommercialOfferService.CommercialOfferService" name="NetTcpBinding_CommercialOfferService">
			</endpoint>
			<endpoint address="net.tcp://localhost/TeleenaServiceWcf/v_PropositionService.svc/tcp" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TeleenaService" contract="PropositionService.PropositionService" name="NetTcpBinding_PropositionService">
			</endpoint>
			<endpoint address="net.tcp://localhost/TeleenaServiceWcf/v_ProductService.svc/tcp" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TeleenaService" contract="ProductService.ProductService" name="NetTcpBinding_ProductService">
			</endpoint>
			<endpoint address="net.tcp://localhost/TeleenaServiceWcf/v_BalanceService.svc/tcp" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TeleenaService" contract="BalanceService.BalanceService" name="NetTcpBinding_BalanceService">
			</endpoint>
			<endpoint address="net.tcp://localhost/TeleenaServiceWcf/v_MobileService.svc/tcp" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TeleenaService" contract="MobileService.MobileService" name="NetTcpBinding_MobileService">
			</endpoint>
			<endpoint address="net.tcp://localhost/TeleenaServiceWcf/v_SimServiceV2.svc/tcp" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TeleenaService" contract="SimServiceV2.SimServiceV2" name="NetTcpBinding_SimServiceV2">
			</endpoint>
			<endpoint address="net.tcp://localhost/TeleenaServiceWcf/v_PersonService.svc/tcp" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TeleenaService" contract="PersonService.PersonService" name="NetTcpBinding_PersonService">
			</endpoint>
			<endpoint address="net.tcp://localhost/TeleenaServiceWcf/v_AddressService.svc/tcp" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TeleenaService" contract="AddressService.AddressService" name="NetTcpBinding_AddressService">
			</endpoint>
			<endpoint address="net.tcp://localhost/TeleenaServiceWcf/v_AddOnService.svc/tcp" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TeleenaService" contract="AddOnService.AddOnService" name="NetTcpBinding_AddOnService" />
			<endpoint address="net.tcp://localhost/TeleenaServiceWcf/v_BillCycleService.svc/tcp" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TeleenaService" contract="BillCycleService.BillCycleService" name="NetTcpBinding_BillCycleService" />
			<endpoint address="net.tcp://localhost/TeleenaServiceWcf/v_QuotaDistributionService.svc/tcp" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TeleenaService" contract="QuotaDistributionService.QuotaDistributionService" name="NetTcpBinding_QuotaDistributionService" />
			<endpoint address="net.tcp://localhost/TeleenaServiceWcf/v_ProductTypeService.svc/tcp" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TeleenaService" contract="ProductTypeService.ProductTypeService" name="NetTcpBinding_ProductTypeService" />
			<endpoint address="net.tcp://localhost/TeleenaServiceWcf/v_ApnService.svc/tcp" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TeleenaService" contract="ApnService.ApnService" name="NetTcpBinding_ApnService" />
			<endpoint address="net.tcp://localhost/TeleenaServiceWcf/v_SmscSettingsService.svc/tcp" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TeleenaService" contract="SmscSettingsService.SmscSettingsService" name="NetTcpBinding_SmscSettingsService" />
			<endpoint address="net.tcp://localhost/TeleenaServiceWcf/v_FeatureService.svc/tcp" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TeleenaService" contract="FeatureService.FeatureService" name="NetTcpBinding_FeatureService" />
			<endpoint address="net.tcp://localhost/TeleenaServiceWcf/v_DepartmentCostCenterService.svc/tcp" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TeleenaService" contract="DepartmentCostCenterService.DepartmentCostCenterService" name="NetTcpBinding_DepartmentCostCenterService" />
			<endpoint address="net.tcp://localhost/TeleenaServiceWcf/v_NotificationConfigurationService.svc/tcp" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TeleenaService" contract="NotificationConfigurationService.NotificationConfigurationService" name="NetTcpBinding_NotificationConfigurationService" />
			<endpoint address="net.tcp://localhost/TeleenaServiceWcf/v_ProductImeiService.svc/tcp" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TeleenaService" contract="ProductImeiService.ProductImeiService" name="NetTcpBinding_ProductImeiService" />
			<endpoint address="net.tcp://localhost/TeleenaServiceWcf/v_PreferredLanguageService.svc/tcp" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TeleenaService" contract="PreferredLanguageService.PreferredLanguageService" name="NetTcpBinding_PreferredLanguageService" />
		</client>
	</system.serviceModel>
	<log4net debug="false">
		<appender name="trace" type="log4net.Appender.TraceAppender, log4net">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n" />
			</layout>
		</appender>
		<appender name="console" type="log4net.Appender.ConsoleAppender, log4net">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n" />
			</layout>
		</appender>
		<appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="DEBUG" />
				<levelMax value="FATAL" />
			</filter>
			<param name="File" value="D:\Logs\RestfulAPI\BusinessUnitApi\log_" />
			<param name="AppendToFile" value="true" />
			<param name="RollingStyle" value="Date" />
			<param name="DatePattern" value="yyyy.MM.dd'.txt'" />
			<param name="StaticLogFileName" value="false" />
			<param name="MaxSizeRollBackups" value="20" />
			<layout type="log4net.Layout.PatternLayout,log4net">
				<conversionPattern value="%message%newline" />
			</layout>
		</appender>
		<root>
			<level value="#{ApplicationLogLevel}#"/>
			<appender-ref ref="rollingFile" />
			<appender-ref ref="aiAppender" />
		</root>
		<appender name="aiAppender" type="Microsoft.ApplicationInsights.Log4NetAppender.ApplicationInsightsAppender, Microsoft.ApplicationInsights.Log4NetAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message%newline" />
			</layout>
		</appender>
	</log4net>
	<system.runtime.caching>
		<memoryCache>
			<namedCaches>
				<add name="RestfulAPI_MemCache" physicalMemoryLimitPercentage="20" />
			</namedCaches>
		</memoryCache>
	</system.runtime.caching>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.webServer>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<remove name="TelemetryCorrelationHttpModule" />
			<add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
			<remove name="ApplicationInsightsWebTracking" />
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
		</modules>
	</system.webServer>
</configuration>